.panel {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, .5);
    color: #fff;
    background: rgba(0, 0, 0, .4);
    box-shadow: 0 3px 14px rgba(128, 128, 128, .5);
    width: 400px;

    position: absolute;
}

h2{
    text-align: center;
}

h3{
    text-align: left;
    margin: 10px 0 5px 0;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.8);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    /*background-color: #fff;*/
    background: rgba(0, 0, 0, .9);
   /*// box-shadow: 10px 10px 60px #555;*/
    display: inline-block;
    height: auto;
   /*// max-width: 551px;*/
   /*// min-height: 100px;*/
    vertical-align: middle;
    /*width: 60%;*/
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, .5);
    padding: 3px;
}
.popupCloseButton {
    color: black;
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

#bottomBar{
    position: absolute;
    right: 60px;
    bottom: 5px;
    font-size: 15px;
}

.sub_panel {
    border: 1px solid rgba(128, 128, 128, .5); padding: 10px; margin-top: 10px
}

.popover {
    background-color: #fff;
}